{% extends 'base.html' %} {% block styles %}
<link href="{{url_for('static', filename = 'css/dropzone.min.css')}}?v=3.0.0" rel="stylesheet" /> {% endblock styles %} {% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-10">
            <div class="input-group input-group-outline">
                <label class="form-label">Buscar...</label>
                <input type="text" class="form-control" placeholder="." id="searchInput">
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-icon btn-2 btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#videoUploadModal">
                <span class="btn-inner--icon"><i class="material-icons">file_upload</i></span>
            </button>
        </div>
    </div>
    {% if Data | length > 0 %}
    <div class="row">
        {% for video in Data %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-background card-background-mask-dark align-items-start mt-4">
                <div class="full-background cursor-pointer" style="background-image: url('{{ url_for('static', filename = video.thumb_file) }}')"></div>
                <div class="card-body">
                    <h5 class="text-white mb-0">{{ video.video_file.split('/')[-1] }}</h5>
                    <p class="text-white text-sm">{{ '%0.2f'| format(video.size / 1000000|float) }} MB</p>
                    <div class="d-flex mt-4 pt-2">
                        <button class="btn btn-outline-white rounded-circle p-2 mx-2 mb-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Play">
                        <i class="material-icons p-2">play_arrow</i>
                        </button>
                        <button class="btn btn-outline-white rounded-circle p-2 mb-0 float-right" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Eliminar" style="color:red">
                            <i class="material-icons p-2">delete</i>
                          </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="position: relative; width: 100%">
        <nav aria-label="Page navigation example" class="mt-4 float-end">
            <ul class="pagination">
                {% if 'prev' in Links %}
                <li class="page-item">
                    <a class="page-link" href="{{ Links['prev']['Ref'] }}" aria-label="Previous">
                        <span class="material-icons">
                        keyboard_arrow_left
                      </span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %} {% if 'next' in Links %}
                <li class="page-item">
                    <a class="page-link" href="{{ Links['next']['Ref'] }}" aria-label="Next">
                        <span class="material-icons">
                        keyboard_arrow_right
                      </span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12 mt-5">
            <h2 class="text-center">No hay videos. Agregue uno para comenzar</h2>
        </div>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="videoUploadModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/video/upload" class="form-control border dropzone" id="dropzone" accept="video/*">
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mt-6"></div>
{% endblock body %} {% block scripts %}
<script src="{{url_for('static', filename = 'js/plugins/dropzone.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/views/videos.js')}}"></script>
{% endblock scripts %}