.scroll-box {
    max-width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 0.5rem;
}

.scroll-box::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scroll-box::-webkit-scrollbar-track {
    visibility: hidden;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 5px;
}

.scroll-box .card {
    margin-right: 20px;
    width: 280px;
    display: inline-block;
}

.title-inline h4 {
    display: inline;
}

#videoPlayer {
    width: 100%;
    height: auto;
}

.modal-video .modal-body {
    padding: 0;
}