.scroll-box {
    max-width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 0.5rem;
}

.scroll-box::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scroll-box::-webkit-scrollbar-track {
    visibility: hidden;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 5px;
}

.scroll-box .card {
    margin-right: 20px;
    width: 280px;
    display: inline-block;
}

.title-inline h4 {
    display: inline;
}

#videoPlayer {
    width: 100%;
    height: auto;
}

.modal-video .modal-body {
    padding: 0;
}

.drag-container {
    width: 100%;
    background-color: #DDD;
    border-radius: 10px;
    min-height: 120px;
    max-height: 500px;
    padding: 7px;
    padding-bottom: 2px;
    overflow-y: scroll;
}

.drag-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.drag-container::-webkit-scrollbar-track {
    visibility: hidden;
}

.drag-container::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 5px;
}

.drag-container .card {
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
    display: flow-root;
    font-size: x-large;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-container .card:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.drag-container .card button {
    margin: 0;
    margin-right: 5px;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.pagination-section {
    position: relative;
    width: 100%;
    display: flow-root;
}