{% extends 'base.html' %} {% block styles %}
<link href="{{url_for('static', filename = 'css/views/schedule.css')}}?v=3.0.0" rel="stylesheet" /> {% endblock styles %} {% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary float-right" style="float: right" data-bs-toggle="modal" data-bs-target="#scheduleModal">Nuevo horario</button>
        </div>
    </div>
    {% if Data | length > 0 %}
    <div class="row shedules-container">
        {% for schedule in Data %}
        <div class="col-lg-4 col-md-3 col-sm-6">
            <div class="card card-frame">
                <div class="card-header colored-header" style="background-color: {{schedule.color}};"></div>
                <div class="card-body">
                    <div class="float-end float-right">
                        <button class="btn btn-icon btn-2 btn-danger btn-icon-only rounded-circle" type="button" onclick="deleteSchedule({{ schedule.id }})">
                            <span class="btn-inner--icon"><i class="material-icons">delete</i></span>
                        </button>
                    </div>
                    <h3>{{ schedule.name }}</h3>

                    <div class="row mt-3">
                        <div class="col-md-6 col-sm-12">
                            <span><b>Inicio</b></span><br>
                            <span>{{ schedule.start }}</span>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <span><b>Fin</b></span><br>
                            <span>{{ schedule.end }}</span>
                        </div>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer">
                    <div><b>Playlist</b></div>
                    <div class="d-flex">
                        <a href="javascript:void(0)">
                            <span class="badge bg-gradient-secondary">{{ schedule.playlist.name }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pagination-section">
            <nav aria-label="Page navigation example" class="mt-4 float-end">
                <ul class="pagination">
                    {% if 'prev' in Links %}
                    <li class="page-item">
                        <a class="page-link" href="{{ Links['prev']['Ref'] }}&relationships=playlist&relationships=videos" aria-label="Previous">
                            <span class="material-icons">
                            keyboard_arrow_left
                          </span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %} {% if 'next' in Links %}
                    <li class="page-item">
                        <a class="page-link" href="{{ Links['next']['Ref'] }}&relationships=playlist&relationships=videos" aria-label="Next">
                            <span class="material-icons">
                            keyboard_arrow_right
                          </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12 mt-5">
            <h2 class="text-center">No hay horarios configurados. Agregue uno para comenzar</h2>
        </div>
    </div>
    {% endif %}
</div>
</div>

<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/schedule" method="POST" onsubmit="createSchedule(event, this)">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-normal" id="scheduleModalLabel">Horario</h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-static mb-4">
                                <label for="newPlaylistSelect" class="ms-0">Seleccione una playlist</label>
                                <select class="form-control" id="newPlaylistSelect" name="id_playlist">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="schedule-color" class="form-control-label">Color</label>
                                <input class="form-control" type="color" value="#CCCCCC" id="schedule-color" name="color">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group input-group-static my-3">
                                <label>Inicio</label>
                                <input type="time" class="form-control" name="start">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group input-group-static my-3">
                                <label>Fin</label>
                                <input type="time" class="form-control" name="end">
                            </div>
                        </div>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="repeatCheck" onchange="displayRepeatDays(this)" name="repeat">
                        <label class="form-check-label" for="repeatCheck">Repetir</label>
                    </div>

                    <div id="oneDayContainer" class="row">
                        <div class="input-group input-group-static my-3">
                            <label>Date</label>
                            <input type="date" class="form-control" name="date">
                        </div>
                    </div>

                    <div id="repeatDaysContainer" class="row" style="display:none">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" name="days" id="mondayCheck" checked="">
                                <label class="custom-control-label" for="mondayCheck">Lunes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="2" name="days" id="tuesdayCheck" checked="">
                                <label class="custom-control-label" for="tuesdayCheck">Martes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="3" name="days" id="wednesdayCheck" checked="">
                                <label class="custom-control-label" for="wednesdayCheck">Miércoles</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="4" name="days" id="thursdayCheck" checked="">
                                <label class="custom-control-label" for="thursdayCheck">Jueves</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="5" name="days" id="fridayCheck" checked="">
                                <label class="custom-control-label" for="fridayCheck">Viernes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="6" name="days" id="saturdayCheck" checked="">
                                <label class="custom-control-label" for="saturdayCheck">Sabado</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="0" name="days" id="sundayCheck" checked="">
                                <label class="custom-control-label" for="sundayCheck">Domingo</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn bg-gradient-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %} {% block scripts %}
<script src="{{url_for('static', filename = 'js/views/schedule.js')}}"></script>
{% endblock scripts %}